.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.welcome-message {
  display: inline-flex;
}
.avatar {
  cursor: pointer;
  transition-duration: 0.5s;
}
.avatar:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}
.header-right {
  float: right;
}
