.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.welcome-message {
  display: inline-flex;
}
.avatar {
  cursor: pointer;
  transition-duration: 0.5s;
}
.avatar:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}
.ant-layout-header {
  height: 100px !important;
}
.header-right {
  height: 90px;
  float: right;
}
.player-container{
  float: left;
  width: 800px;
  height: 500px;
  margin-top: 12px;
  margin-left: 600px;
}